<tr>
	<td style="padding:0 0 0 0;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Arial;font-size:10pt;padding: 25px 25px 25px 25px;margin-top:-1px;line-height:100%;">
			<tr>
				<td></td>
				<td width="600">
					<p style="text-align:center;font-size:75%;color:#6A756D;">
						The deadline to submit an announcement is 11:30 a.m. on Friday for the Monday edition, and 11:30 a.m. on Wednesday for the Thursday edition. If you would like to submit an announcement for the digest, <a href="https://documents.morrisville.edu/facultystaffmac/commmark/emailannouncementrequest.html">please do so online here</a>, logging in with your Morrisville username and password.
					</p>
					<p style="text-align:center;font-size:75%;color:#6A756D;">
						The weekly video is produced by Communications &amp; Marketing. If you would like to see your program, lab or activity featured here, <a href="https://morrisvillecommmark.atlassian.net/servicedesk/customer/portal/8/create/103">schedule a video project consultation today</a>.
					</p>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</td>
</tr>