<tr>
	<td style="padding:0 0 0 0;">
		<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family:Arial;font-size:10pt;line-height:150%;">
			<tr>
				<td style="padding:0 0 0 0">
					<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family:Arial;font-size:10pt;line-height:150%;">
						<tr>
							<td width="25"></td>
							<td width="549" bgcolor="#00966C" style="padding:5px 10px 5px 10px;">
								<h2 style="font-size:110%;color:#ffffff;text-transform:uppercase;margin:0 0 0 0;letter-spacing:1px;line-height:100%;">Weekly Video</h2>
							</td>
							<td width="25"></td>							
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff" style="padding:0 0 10px 0">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="font-family:Arial;font-size:10pt;line-height:150%;">
						<tr>
							<td style="padding:10px 0 5px 0">                            
								<img src="http://via.placeholder.com/550x310" alt="placeholder image" width="550" height="310" />
							</td>
						</tr>
						<tr>
							<td style="padding:10px 0 5px 0">
								<h3 style="font-size:150%;color:#00502F;margin:0 0 0 0;line-height:100%;">Video Title - RGB 0 80 47</h3>
							</td>
						</tr>
						<tr>
							<td style="padding:20px 0 10px 0;text-align:justify;line-height:145%;">
								<p>Replace or remove the placeholder image above. <strong>Image must be 550x310px.</strong> To add alt text: Right Click > Format Picture > Layout &amp; Properties.</p>
								<p>Don’t forget to edit the link below.</p>
								<p>Select the text > Right-Click > Edit Hyperlink > Enter Text AND Link URL</p>
								<p>You’ll need to change the text color back to white and remove the underline.</p>
								<p>When you’re finished delete this text, and enter a description of the video, here.</p>		
							</td>
						</tr>
						<tr>
							<td style="padding: 0 0 10px 0">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Arial;font-size:10pt;line-height:100%;">
									<tr>
										<td width="160"></td>
										<td width="160"></td>
										<td width="175" bgcolor="#00502F" style="padding:5px 25px 5px 25px;text-align:center;">
											<a style="text-transform:uppercase;color:#ffffff;text-decoration:none;font-weight:bold;letter-spacing:1px;" href="">Watch Video &raquo;</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding:20px 0 10px 0;text-align:justify;line-height:145%;">
								
								<p style="font-size:80%;">
									<i>The weekly video is produced by Communications &amp; Marketing. If you would like to see your program, lab or activity featured here, <a href="https://morrisvillecommmark.atlassian.net/servicedesk/customer/portal/8/create/103">schedule a video project consultation today</a>.</i>
								</p>
							</td>
						</tr>
						<tr>
							<td style="border-top:1px solid #F4803E;" height="10"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
