		<!-- Start Footer -->												
		<tr>
			<td style="padding:0 0 0 0;">
				<table align="center" bgcolor="#00502f" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family:Arial;color:#E3E0E0;padding: 25px 25px 25px 25px;margin-top:-1px;line-height:100%;">
					<tr>
						<td style="text-align:center;">
							<h4 style="margin:0;padding:0 0 10px 0;">Morrisville State College</h4>
							<p style="font-size:65%;padding:0 0 10px 0;margin:0;">
								80 Eaton St.<br />
								Morrisville, NY 13408<br />
								<a style="color:#E3E0E0;" href="tel:3156846000">315-684-6000</a><br />
								<a style="color:#E3E0E0;" href="http://www.morrisville.edu">www.morrisville.edu</a>
							</p>
						</td>
					</tr>
					<tr>
						<td width="550" style="text-align:center;border-bottom:1px solid #E3E0E0;padding:15px 0 15px 0;">
							<a href="https://www.facebook.com/morrisvillestatecollege"><img src="cid:facebookID" width="25" alt="Facebook" /></a>&emsp;
							<a href="https://twitter.com/SUNYmorrisville"><img src="cid:twitterID" width="25" alt="Twitter" /></a>&emsp;
							<a href="https://www.youtube.com/user/morrisvillestate"><img src="cid:youtubeID" width="25" alt="YouTube" /></a>&emsp;
							<a href="https://instagram.com/MorrisvilleState/"><img src="cid:instagramID" width="25" alt="Instagram" /></a>&emsp;
							<a href="http://www.flickr.com/morrisvillestatecollege"><img src="cid:flickrID" width="25" alt="Flickr" /></a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;font-size:65%;padding:20px 0 20px 0;">
							<p>
								&copy;Morrisville Communications and Marketing
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		