							</p>
						</td>
					</tr>
					<tr>
						<td style="padding:0 0 0 0;">
							<table bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="font-family:Arial;margin-top:0;margin-bottom:0;font-size:10pt;line-height:150%;">
								<tr>
									<td align="center" style="padding:40px 0 30px 0;">
										<img src="cid:logoID" alt="Morrisville - State University of New York" width="350" height="123" style="display:block;" />
									</td>
								</tr>
								<tr>
									<td height="5" style="padding:0 25px 0 25px;border-top:1px solid #F4803E;">
									</td>
								</tr>
								<tr>
									<td style="padding:10px 25px 0 25px;">
										<h1 style="text-align:center;font-size:200%;color:#00502F;">All-Campus Email Digest</h1>
									</td>
								</tr>
								<tr>
									<td style="padding:0 0px 10px 0px;">
										<p style="text-align:justify;">
											The Morrisville State College all-campus email digest is distributed each Monday and Thursday at approximately 11:30 a.m. 
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>